body{
	background-color: var(--color-offwhite);
	padding-bottom: 5em;
}









.my_favorite {
	text-align: center;
	
}

.favorite_text, .bag_text {
	font-family: nunito,sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 1em;
	color: #4a342a;
}

.my_favorite label span {
	transition: all 0.3s;
	display: inline-block;
	transform: scale(1,1);
	color: var(--color-neutral-medium);
}

.my_favorite input:checked + label span {
	color: red;
	transform: scale(1.3,1.3);
}


.my_bag label span {
	transition: all 0.3s;
	display: inline-block;
	transform: scale(1,1);

}

.my_bag input:checked + label span {
	
	transform: scale(1.3, 1.3);
	
}

.bag_text {
	justify-content: center;
	align-items: center;
}

.bag_img {
	margin: 0.2em 0.5em 0.2em 0.1em;
}




/*  Header  */

.header_container {
	margin-top: 2em; 
	
}


.navigation1 {
	display: flex; 
	flex-direction: row;
}

.navigation_real {
	font-family: 'Nunito', sans-serif; 
	font-weight: 500;
	font-style: normal; 
	font-size: 1em; 
	color: #4a342a; 
	margin-left: 41em;
	margin-top:2em;
}

.logo img {
	width: 200px;
	margin-left: -1em;

}


span.badge:not(:empty)::after {
	content: ')';
}


span.badge:not(:empty)::before {
	content: '(';
}



/* Shop Page */



.shop h1 {
	text-align: center; 
	font-family: 'Bodoni Moda', serif; 
	font-weight: 700; 
	font-style: normal; 
	font-size: 36px; 
	color: #4a342a; 
	
	
}


.back_button {
	margin-bottom: 3em;
	
}

.back_button1 {
	margin-left: 53em;
	margin-top: 1.5em;
}


.back_button a {
	font-family: nunito,sans-serif; 
	font-weight: 500; 
	font-style: normal; 
	font-size: 1em; 
	color: #4a342a;
}


.form_bar {
	display: flex; 
	flex-direction: row;
}


.select_left {
	width: 20%; 
	font-weight: 400; 
	margin-top: 2em;
}


.search_right {
	width:25%; 
	margin-left: 45em; 
	margin-top: 1em;
}


.search_right1 {
	margin-left: 0;
	margin-top: 1em;
}

.hotdog .search_text {
	font-family: nunito,sans-serif; 
	font-weight: 400; 
	font-style: normal; 
	font-size: 1em; 
	color: #4a342a; 
}


.sort_select>select {
	padding: 0.3em 1.3em;
	background-color: var(--color-white);
	border-radius: 0.5em;
	box-shadow: 0 0 10px rgba(0,0,0,0.15);
	cursor: pointer;
	font-family: nunito,sans-serif; 
	font-weight: 600; 
	font-style: normal; 
	font-size: 1em; 
	color: #4a342a; 
}

.sort_select::after {
	content: '▾'; /*  google ascii triangle, and copy a symbol */
	font-family: nunito, sans-serif;
	font-size: 1.2em;
	position: absolute;
	top: 0.8em;
	right: 0.8em;
	transform: translateY(-50%);
	pointer-events: none;
	color: #4a342a;
}


.button_filled3 {
	font-family: nunito,sans-serif; 
	font-weight: 400; 
	font-style: normal; 
	font-size: 0.9em; 
	color: #4a342a; 
	background-color: #f7f0eb;
	

}

.all_line {
	margin-top: 5em;
}

.all_line h3 {
	font-family: nunito,sans-serif; 
	font-weight: 600; 
	font-style: normal; 
	font-size: 1.2em; 
	color: #4a342a; 
	margin-top: 1.5em;
}


.divide_line1 {
	width: 100%;
	border-bottom: 1px solid #d8bbad;
	margin-top: -1em;
}

.product_container {
	margin-top: 3em; 
	
	margin-bottom: 10em;
}


.grid_container {
	margin-left: 3em;
}

.admin h3 {
	font-family: nunito,sans-serif; 
	font-weight: 500; 
	font-style: normal; 
	font-size: 1.2em; 
	color: #4a342a; 
	text-align: right; 
	text-decoration: underline;
}

.admin a:hover {
	text-decoration: underline;
	color: #d8a355;
}



.footer {
	background-color: #e5c2c1; 
	width: 100%; 
	height: 7em; 
	margin: 0;
	text-align: center;

}

.footer p {
	font-family: 'Nunito', sans-serif; 
	font-weight: 500;
	font-style: normal; 
	font-size: 1em; 
	color: #4a342a; 
	padding-top: 2em;
}




.list_border {
	margin-left: -3.5em;
}



.figure img{
	
	width: 100%;
	height: 100%;
}

.figure img:hover {
	box-shadow: 0 2px 10px rgba(0,0,0,0.2);
	transition: all 0.3s;

}

/* individual item */


.individual_item h2{
	font-family: 'Bodoni Moda', serif; 
	font-weight: 700; 
	font-style: normal; 
	font-size: 30px; 
	color: #4a342a; 
	padding-top: 1em;

}


.item_intro {
	display: flex;
	flex-direction: row;
	margin-top: 4em; 
	margin-left: 14em;
	font-family: 'Nunito', sans-serif; 
	font-weight: 500;
	font-style: normal; 
	font-size: 1em; 
	color: #4a342a; 
	margin-bottom: 15em;


}

.item_info {
	display: flex;
	flex-direction: column;
	width: 330px;
	height: 400px;

	

	

}

.item_detail {
	
	margin-top: -1.2em;
}

.item_detail li {
	padding: 0.2em 0 0.5em;
}

.item_bold {
	font-weight: 700;

}




.item_descrip h3 {
	font-family: nunito,sans-serif; 
	font-weight: 600; 
	font-style: normal; 

	 
}

.item_descrip p {
	font-family: nunito,sans-serif; 
	font-weight: 400; 
	font-size: 0.95em;
	font-style: normal; 
	margin-top: -0.8em;
	line-height: 1.5em;
	text-align: left;
	
}

.addToCart {
	width: 12em;
	margin-top: 1.4em;
}


.item_line h3 {
	font-family: 'Bodoni Moda', serif; 
	font-weight: 700; 
	font-style: normal; 
	font-size: 24px; 
	color: #4a342a; 
}

.product_container1 {
	margin-top: 3em; 
	margin-left: 4em;
	margin-bottom: 10em;
}


.image-main img{
 	width: 400px;
 	height: 400px;
 	object-fit: contain;
 	margin-bottom: 1em;
}


.image-thumbs img{
	width: 8em;
	height: 8em;
	object-fit: contain;
	margin-left: 0.5em;
}

.image-thumbs img:first-child {
	margin-left: 0;
}

/* Landing Page */
.default-line1 {
	display: inline-block;
    background-color: transparent;
    border-width: 0;
  	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1em;
    -webkit-appearance: none;
    
    width: 100%;
    outline: 0;
  	
    border-bottom: 1px solid #4a342a;
}

.default-lable1 {
	font-size: 1em;
    color: var(--color-black);
    display: block;
    width: 100%;
    font-family: 'Nunito', sans-serif;
	font-weight: 600;
	font-style: normal;
  	
}

.joinUs {
	width: 20em;
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1em;
	color: white;
}


/*Product Cart Page*/

.shoppingCart_head {
	font-family: 'Nunito', sans-serif; 
	font-weight: 600;
	font-style: normal; 
	font-size: 1em; 
	color: #4a342a; 
	margin-top: 3em;

  	
}


.cart_info {
	display: flex;
	flex-direction: row;
	width: 100%;
}


.card-section~.card-section {
	border-top: 1px solid #cbd1d5;
}

.card-section {
	padding: 1em;
	font-family: 'Nunito', sans-serif; 
	font-weight: 700; 
	font-style: normal; 
	font-size: 1em; 
	color: #4a342a; 

}

.cart_price {
	font-family: 'Nunito', sans-serif; 
	font-weight: 500; 
	font-style: normal; 
	font-size: 0.9em; 
	color: #4a342a; 
}


.cart_item_names {
	font-family: 'Nunito', sans-serif; 
	font-weight: 700; 
	font-style: normal; 
	font-size: 1em; 
	color: #4a342a; 

}

.cart_item_delete {
	font-family: 'Nunito', sans-serif; 
	font-weight: 500; 
	font-style: normal; 
	font-size: 0.9em; 
	color: #4a342a; 
	
}


.cart_subtotal {

	 font-family: 'Nunito', sans-serif; 
	 font-weight: 500; 
	 font-style: normal; 
	 font-size: 1em; 
	 color: #4a342a;
}




/*Thank you page*/


.thankYou_box {
	width: 50%; 
	background-color: #f7f0eb; 
	margin: 0 auto; 
	margin-top: 2em;
}

.thankYou_notes {
	font-family: 'Nunito', sans-serif; 
	font-weight: 400; 
	font-style: normal; 
	font-size: 1em; 
	color: #4a342a; 
	text-align: center;
}



/* About page */


.about_title {
	font-family: 'Bodoni Moda', serif; 
		font-weight: 700; 
		font-style: normal; 
		font-size: 24px; 
		margin-left: 4.2em;
		margin-top: 0.5em;
}

.about_p1 {
	line-height: 2em;
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1em;
	width: 95%;
	color: #4a342a;
	margin-left: 0.5em;
	text-align: center;
}