ul {
    list-style-type: none;
    padding-top: 30px;
    padding-left: 0px;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
    padding-left: 50px;
}

a:hover {
    color:#2C23F7;
    font-weight: 700;
    font-style: italic;
}

.navii {
    display: flex;
}

.nav1 {
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    flex-flow: right;
    margin-right: 50px;  
}

.nav1:hover {
    color:#2C23F7;
    font-weight: 700; 
    font-style: normal;
}

.navi {
    float: right;
}

body {
    margin: 0px;
}

h1 {
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: bold;
    color: #2C23F7;
    padding-top: 100px;
    margin: 0px;
    text-align: center;
}

h2 {
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: bold;
    color: #2C23F7;
    padding-bottom: 20px;
}

p {
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
}



.form {
    margin-left: 100px;
}

label {
    font-family: aktiv-grotesk,sans-serif; 
    font-weight: 700; 
    font-style: bold; 
    color: #2C23F7;
    padding-bottom: 20px;
}

.definput {
    display: inline-block;
    border-width: 0;
    outline: 0;
    padding: 12px 50px;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 0 2px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
    color: grey;
    width: 200px;
    transition: all 0.2s;
}

.definput:hover {
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.definput:focus {
    border: 2.5px solid;
    border-color: #2B6FF7;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.btn {
    padding-left: 50px;
    padding-top: 10px;
    margin: 0px;
}
    
.defbuttton3 {
    display: inline-block;
    background: rgb(43,111,247);
    background: linear-gradient(90deg, rgba(43,111,247,1) 35%, rgba(44,35,247,1) 100%);
    border-width: 0;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: white;
    width: 700px;
    height: 50px;
    outline: 0;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 15px;
    transition: all 0.2s;
}

.defbuttton3:hover {
    background: linear-gradient(270deg, rgba(43,111,247,1) 35%, rgba(44,35,247,1) 100%);
}


.defbutton4 {
    display: inline-block;
    background: white;
    border-width: 0;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #2C23F7;
    box-shadow: 0 2px 30px rgba(0,0,0,0.2);
    width: 250px;
    height: 50px;
    outline: 0;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 15px;
    transition: all 0.2s;
}

.defbutton4:hover {
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    color: #2C23F7;
}

.section {
    display: flex;
    justify-content: center;
}



.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 10%;
  box-shadow: 0 2px 20px rgba(0,0,0,0.2);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: lightgrey;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2C23F7;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 10%;
  background: white;
}

.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.inlinebtn {
  display: inline-block;
  background: white;
  border-width: 0;
  font-family: aktiv-grotesk,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: red;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  width: 100px;
  height: 30px;
  outline: 0;
  border-radius: 5px;
  padding-bottom: 4px;
  transition: all 0.2s;
}

.inlinebtn:hover {
  background-color: red;
  color: white;
}

.amtsel {
  padding: 5px 10px 5px 10px;
    outline: 0;
    border: 0;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    border-radius: 5px;
    font-family: aktiv-grotesk,sans-serif;
    font-style: normal;
    height: 30px;
    transition: all 0.2s;
}

.amtsel:hover {
  box-shadow: 0 2px 30px rgb(0 0 0 / 20%);
}

.addedproduct {
  box-shadow: 0 2px 50px rgb(0 0 0 / 20%);
  width: 600px;
  height: 80px;
  border-radius: 10px;
  text-align: center;
  line-height: 80px;
}

.addpro {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}

.cartbtn {
    display: inline-block;
    background: rgb(43,111,247);
    background: linear-gradient(90deg, rgba(43,111,247,1) 35%, rgba(44,35,247,1) 100%);
    border-width: 0;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: white;
    width: 350px;
    height: 50px;
    outline: 0;
    border-radius: 10px;
    margin-left: 50px;
}

.cartbtn:hover {
    background: linear-gradient(270deg, rgba(43,111,247,1) 35%, rgba(44,35,247,1) 100%);
}


.shopbtn {
    display: inline-block;
    background: white;
    border-width: 0;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: #2C23F7;
    box-shadow: 0 2px 30px rgba(0,0,0,0.2);
    width: 200px;
    height: 50px;
    outline: 0;
    border-radius: 10px;
    margin-left: 0px;
    transition: all 0.3s;
}

.shopbtn:hover {
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    color: #2C23F7;
}

.btns2 {
  display: flex;
  justify-content: center;
}

.paytext {
  font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    color: black;
}

.paymeth {
  box-shadow: 0 2px 50px rgba(0,0,0,0.2);
  width: 250px;
  height: 320px;
  border-radius: 10px;
  margin-top: 125px;
}

.paymeth2 {
  padding-left: 30px;
  padding-top: 0px;
}

.paytext2 {
  font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: black;
}

.confirmsec {
  box-shadow: 0 2px 50px rgb(0 0 0 / 20%);
  width: 600px;
  height: 170px;
  border-radius: 10px;
  text-align: center;
}

.confirmsec2 {
  line-height: 50px;
}

.cartbtn3 {
    display: inline-block;
    background: rgb(43,111,247);
    background: linear-gradient(90deg, rgba(43,111,247,1) 35%, rgba(44,35,247,1) 100%);
    border-width: 0;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    color: white;
    width: 600px;
    height: 50px;
    outline: 0;
    border-radius: 0px 0px 10px 10px;  
}

.cartbtn3:hover {
    background: linear-gradient(270deg, rgba(43,111,247,1) 35%, rgba(44,35,247,1) 100%);
}

.btns3 {
  padding-top: 38px;
}