
:root{
	--color-offwhite: #f4f4f4;
}

.name {
	padding-left: 1em;	
}

body {
	background-color: var(--color-offwhite);
}

.view-window {
	width: auto;
	height: 400px;
	float: center;

}

.articles {
	
 	flex-direction: column;
 	align-items: center;
 	margin-top: 5em;
 	width: 1200px;
	height: 500px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
	/* Float four columns side by side */
  float: left;
  width: 25%;
  padding: 0 10px;
}
	
.article {
		
		justify-content: space-between;
		align-items: center;
		
}

.article-text {
		width: 340px;
		height: 450px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
    bottom: 0;
    left: 0;
    display:table;
}

.footer-text {
	display: flex;
	flex-direction:row;
	justify-content: center;
	display:table-cell;
    vertical-align:middle;
    text-align: center;
    padding:20px;
    font-size: .7em;
}


img {
	height: 200px;
	width: 250px;
}




























