/*CSS RESET*/

*,*::after, *::before {
	box-sizing:border-box;
}

:root{
	--color-neutral-light:#eee;
	--color-neutral-medium:#999;
	--color-neutral-dark:#555;

	--header-height:3rem;
	--spacing:1rem;

	--font-sans:'Barlow Condensed', sans-serif;
}

body{
	margin:0;
	font-size:100%;
	font-family:var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-family:var(--font-sans);
}

a{
	color:inherit;
	font-weight:bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* LAYOUT CLASSES */

.container-a{
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.container{
	max-width: 65%;
	margin-left: auto;
	margin-right: auto;
}

.display-flex{ display:flex; }
.display-inline-flex{ display:inline-flex; }
.display-block{ display:block }
.display-inline-block{ display:inline-block; }

.flex-stretch {flex: 1 1 auto;}
.flex-none {flex: none; }

.flex-align-center{ align-items: center; }
.flex-justify-center{ justify-content: center; }

/*C COMPONENT CLASS */

.nav ul{
	list-style-type:none;
	margin-top: 0em;
	margin-bottom: 0em;
	padding-left: 0; 
}

.navbar{
	background-color:#efbd20;
	color:var(--color-white);
	line-height:var(--header-height); 
	padding:1em;	
}

.navbar h1{
	font-size:1.5em;
	margin:0;
	font-family: var(--font-sans);
	color: #fff;
	letter-spacing: 0.6em;
}
.navbar a {
	padding:0 0.5em;
	color: #fff;

}

/* CARD */

.card {
	background-color: var(--color-white);
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;

	overflow:hidden;
	position: relative;
}

.card.soft {
	border-radius: 0.8em;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* VIEW-WINDOW*/

.view-window{
	height: 50vh;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/*small class*/

.media-image{
	vertical-align: text-bottom;
	margin-top: 25px;
max-width:100%;
}

.media-image-2{
	max-width:100%;
	vertical-align: text-bottom;
}

.images{

	text-align: center;
	justify-content: center;
}

.images-a{
	color: #b59531;
}

.info{
	text-align: center;
	justify-content: center;
}

.bestsell h3{

	justify-content: center;
	color: #b59531;
	margin-top: 25px;
}

.container h3{
	text-align: center;	
}

.container p{
	text-align: center;	
}

.newsletters {
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6em;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0px 20px 46px -12px #7174ac;
  padding: 12px;
  margin-top: 100px;
  letter-spacing: 0px;
  cursor: pointer;
  border-radius: 30px;
}

.newsletters:hover{ 
width: 26%;
color: #fff;
background-color: #7174ac;
}


.newsletters{
transition: width .8s, background-color .8s, color .5s; 
}
