
:root{

--color-main-light: #c1ad98;
  --color-main-medium: #ae9176;
  --color-main-dark: #987655;

  --color-accent-light: #f0dba6;
  --color-accent-medium: #e5c063;
  --color-accent-dark: #deae37;

  --color-black: #000;
  --color-white: #fff;

  --header-heaght: 7rem;
  --spacing: 1rem;

  --font-sans: Semplicita Pro, Helvetica, Arial, sans-serif;
  --font-serif: Playfair Display,Georgia, "Times New Roman", serif;
}

body{
  background: var(--color-main-light);
  padding-bottom: 4em;
}

.favorite label{
  transition: all 0.3s;
  display: inline-block;
  transform: scale(1,1);
  color: var(--color-main-medium);
}


.favorite input:checked + label{
  color: red;
  transform: scale(1.3, 1.3);
}



.figure.product{
  border-radius: 0.5em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
}

.product-overlay{
  position: relative;
  overflow: hidden;
}

.product-overlay figcaption{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-overlay:hover figcaption{
  opacity: 1;
}

.product-overlay .caption-body{
  background-color: white;
  border-radius: 0.5em;
  padding: 1em;
  transform: translateY(2em);
  transition: all 0.3s;
}

.product-overlay:hover .caption-body{
  transform: translateY(0);
}

.product-overlay img{
  transform: scale(1,1);
  transition: all 0.3s;
}

.product-overlay:hover img{
  transform: scale(1.4,1.4);
}

@media (max-width: 600px){
  .product-overlay figcaption{
    position: relative;
    display: block;
    top: initial;
    left: initial;
    width: 100%;
    height: initial;
    opacity: 1;
    background-color: initial;
  }

  .product-overlay .caption-body{
    transform: none;
    padding: 0;
  }
}




.cart-button{
  color: var(--color-white);
}

.edit-button{
  text-decoration: underline;
  background: transparent;
  color: var(--color-black);
  border-width: 0;
}


